@{
    ViewData["Title"] = "Home Page";
}

<input type="number" id="input" />
<select id="money1" class="dd"></select>
<br />
<br />
<select id="money2" class="dd"></select>
<input type="button" id="send" value="senden" />
<br />
<span id="ausgabe"></span>

